.layout {
  .layout-header {
    min-height: 280px;
    background-image: url("../../../assets/images/pexels-pixabay-257385.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .layout-body {
    margin-top: -50px;
  }

  .toasts {
    position: sticky;
    bottom: 1rem;
    left: calc(100% - 350px - 1rem);
    width: 350px;

    .success-toast {
      .toast-body {
        border-left: 3px solid green;
      }
    }
  }

  min-height: 100vh;
}


