.movie-card {
  // https://www.materialui.co/colors
  .yellow {
    color: #FFD600;
  }

  .gray {
    color: #757575;
  }

  .red {
    color: #e53935;
  }

  width: 250px;
  height: 370px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  box-shadow: 10px 10px 30px;

  margin: 1.0rem auto;

  .gradient {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(0deg, #000 20%, transparent);

    .header {
      padding: 1rem;
      text-align: right;

      .btn {
        transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
      }
    }

    .spacer {
      flex: 1;
    }

    .body {
      padding: 1rem;
      color: #fff;
      font-size: 80%;

      .body-bottom {
        display: flex;

        .duration-icon {
          margin-right: 0.5rem;
        }

        .duration-text {

        }

        .stars {
          margin-left: auto;



        }

        .stars-text {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
